@charset "UTF-8";
.contact__item-btn, .cards .card .card__box-btn__item--btn, .tabs__item .tabs__card-block--btn, .about-us__btn, .intro__item-content .intro__btn, .header__btn {
  padding: 20px 26px;
  font-size: 30px;
  border-radius: 20px;
  background-color: #FFF;
  color: #FB554C;
  font-weight: 900;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.contact__item-btn:hover, .cards .card .card__box-btn__item--btn:hover, .tabs__item .tabs__card-block--btn:hover, .about-us__btn:hover, .intro__item-content .intro__btn:hover {
  background: #FB554C;
  color: #FFF;
}

.text__description {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #323334;
}

.span__text {
  color: #FB554C;
}

.span__title {
  color: #8DBAB5;
}

.span__title--mango {
  color: #F4BB44;
}

.span__title--crayola {
  color: #FB554C;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #EEF1EC;
}

::-webkit-scrollbar-thumb {
  background: #FB554C;
  border: 3px solid #EEF1EC;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #8DBAB5;
}

/* Убираем внутренние отступы */
ul,
ol[class],
li {
  padding: 0;
  list-style: none;
}

input {
  outline: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  font-family: "Roboto-Medium";
}

a:hover {
  color: #FB554C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto-Bold";
}

p {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #FFF;
  padding: 0 10px 0 0;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 90%;
  letter-spacing: -0.02em;
  color: #FB554C;
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: #FB554C;
}

h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #000;
}

h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #4E4F51;
}

button {
  border: none;
}

body {
  font-family: "GeneralSans";
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.noscroll {
  overflow: hidden;
  height: 100%;
  z-index: 100;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.section {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  50% {
    -webkit-transform: translateX(-240%);
            transform: translateX(-240%);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  50% {
    -webkit-transform: translateX(-240%);
            transform: translateX(-240%);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}
@-webkit-keyframes tickerDoun {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  50% {
    -webkit-transform: translateX(240%);
            transform: translateX(240%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
@keyframes tickerDoun {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  50% {
    -webkit-transform: translateX(240%);
            transform: translateX(240%);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}
.header {
  width: 100%;
  position: fixed;
  padding: 10px 10px;
  z-index: 10;
  background-color: #FFF;
  top: 0;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  position: relative;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__list {
  display: inline-block;
  padding: 0 35px;
}

.header__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  white-space: nowrap;
}

.header__link-js {
  position: relative;
}
.header__link-js::after {
  content: url(../img/arrow__menu.png);
  position: absolute;
  width: 5px;
  height: 4px;
  top: -1px;
  left: 67px;
}
.header__link-js.active::after {
  content: url(../img/arrow__menu.png);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  width: 5px;
  height: 4px;
  top: 23px;
  left: 70px;
}

.header__link-popup-js {
  display: none;
}

.header__link-popup-js.active {
  display: block;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 20px 20px 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 0px 20px 20px 20px;
}

.header__link-popup {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px;
}

.header__btn {
  margin-left: 60px;
  width: 145px;
  text-align: right;
  position: relative;
}
.header__btn:hover {
  color: #FFF;
}
.header__btn::before {
  content: url(../img/krest.svg);
  position: absolute;
  width: 10px;
  height: 10px;
  left: 24px;
  top: 8px;
}

.burger__content {
  position: absolute;
  left: -200%;
  top: 0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.burger__content--close {
  top: 0;
  position: absolute;
  right: -200%;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.burger__btn {
  display: none;
}

.intro__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: red;
  position: relative;
}

.intro__item {
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
  border-radius: 20px;
  left: 5%;
  top: 15%;
  text-align: left;
}
.intro__item-content {
  z-index: 10;
}
.intro__item-content .intro__title {
  opacity: 1;
  width: 100%;
  max-width: 550px;
}
.intro__item-content .intro__text {
  opacity: 1;
  margin: 20px 0;
  color: #FB554C;
  font-size: 20px;
  line-height: 27px;
  width: 100%;
  max-width: 600px;
}
.intro__item-content .intro__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  border-radius: 20px;
}

.slider__main {
  margin-top: 40px;
}

.slider__block-arrow {
  width: 100%;
  max-width: 190px;
  height: 90px;
  z-index: 11;
  padding: 10px;
  position: absolute;
  right: 5%;
  top: 15%;
}
.slider__block-arrow .swiper-button-next,
.slider__block-arrow .swiper-button-prev {
  z-index: 10;
  width: 80px;
  height: 80px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url(../img/button.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.slider__block-arrow .swiper-button-next:hover,
.slider__block-arrow .swiper-button-prev:hover {
  opacity: 0.8;
}
.slider__block-arrow .swiper-button-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slider__block-arrow .swiper-button-next::after,
.slider__block-arrow .swiper-button-prev::after {
  display: none;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 200px;
  left: 50%;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: #FB554C;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 35px;
  height: 35px;
  background-color: #FFF;
  border: 1px solid #000;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: 100vh;
}

.swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/main-img.jpg) no-repeat center center fixed;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.about-us {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px 0px;
}

.about-us__item {
  width: 30%;
}

.about-us__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 25px;
}

.about-us__image {
  height: 250px;
}

.about-us__img {
  width: 100%;
  max-width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.about-us__content-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__title {
  max-width: 60%;
  width: 100%;
  margin-bottom: 15px;
  font-size: 30px;
  padding: 0 5px;
}

.about-us__descr {
  margin: 0;
  margin-bottom: 15px;
}

.about-us__item .about-us__item-block {
  height: 100%;
}

.footer {
  width: 100%;
  padding: 50px 20px;
  background-color: #000;
}
.footer__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__inner .footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__inner .footer__item-block .footer__link {
  color: #FFF;
  padding: 10px 0;
}
.footer__inner .footer__item-block .footer__title {
  color: #FFF;
  margin-top: 20px;
}
.footer__inner .footer__item-block .footer__text {
  color: #FFF;
  padding: 10px 0;
}
.footer__inner .footer__item-block .footer__img {
  padding: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #FFF;
}
.footer__inner .footer__item-block .footer__img:hover {
  background-color: #FB554C;
}

.tabs {
  width: 100%;
  margin-top: 160px;
}
.tabs__title {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 550px;
}
.tabs__text {
  text-align: center;
  width: 100%;
  margin: 80px auto;
  max-width: 800px;
  font-size: 20px;
}
.tabs__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.tabs__nav-btn {
  padding: 15px 30px;
  font-size: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}
.tabs__nav-btn:last-child {
  border-right: none;
}
.tabs__nav-btn:hover {
  background-color: #8DBAB5;
  border-right-color: #FFF;
  color: #FB554C;
}
.tabs__nav-btn.active {
  background-color: #FB554C;
  border-right-color: #FFF;
  color: #FFF;
}
.tabs__content {
  background-color: #fff;
}
.tabs__item {
  display: none;
}
.tabs__item .tabs__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.tabs__item .tabs__card-block {
  text-align: left;
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border-radius: 20px 0 20px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #CCE0DE;
}
.tabs__item .tabs__card-block--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tabs__item .tabs__card-block--text {
  margin: 40px 0;
  font-size: 20px;
}
.tabs__item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__card {
  width: 100%;
  margin-top: 100px;
}
.section__card .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section__card .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__card .swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-wrapper__gallery {
  height: 100% !important;
}

.swiper-slide__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__block-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.card__block-text .card__title {
  font-size: 55px;
  width: 100%;
  max-width: 60%;
}
.card__block-text .card__text {
  width: 100%;
  max-width: 35%;
}

.cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cards__item {
  width: 48%;
}
.cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background-color: #CCE0DE;
}
.cards .card__image--item {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards .card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.cards .card__title {
  margin: 0;
  margin-bottom: 15px;
}
.cards .card__descr {
  margin: 0;
  margin-bottom: 15px;
}
.cards .card .card__box-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  cursor: pointer;
}
.cards .card .card__box-btn__item {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cards .card .card__box-btn__item--price {
  color: #FB554C;
  font-size: 25px;
}
.cards .card .card__box-btn__item--link {
  color: #FB554C;
  font-size: 20px;
}
.cards .card .card__box-btn__item--btn {
  padding: 10px 15px;
  font-size: 25px;
}
.cards__item .card {
  height: 100%;
}

.swiper-button-next__gallery,
.swiper-button-prev__gallery {
  z-index: 10;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url(../img/button.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-next__gallery:hover,
.swiper-button-prev__gallery:hover {
  opacity: 0.8;
}

.swiper-button-prev__gallery {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-button-prev__gallery::after,
.swiper-button-next__gallery::after {
  display: none;
}

.section__contact {
  margin-top: 172px;
  width: 100%;
  position: relative;
  background-color: #8DBAB5;
  padding: 70px 0;
}

.contact {
  background-color: #CCE0DE;
  border-radius: 20px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__item-title {
  font-size: 60px;
}
.contact__item-text {
  margin: 40px auto;
  font-size: 25px;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.contact__item-textarea {
  width: 50%;
  font-size: 25px;
  outline: none;
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px 20px;
  color: #4E4F51;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contact__item-textarea:hover {
  border: 2px solid #FB554C;
  background: #FFF;
}
.contact__item-textarea::-webkit-input-placeholder {
  font-size: 25px;
  color: #FB554C;
}
.contact__item-textarea::-moz-placeholder {
  font-size: 25px;
  color: #FB554C;
}
.contact__item-textarea:-ms-input-placeholder {
  font-size: 25px;
  color: #FB554C;
}
.contact__item-textarea::-ms-input-placeholder {
  font-size: 25px;
  color: #FB554C;
}
.contact__item-textarea::placeholder {
  font-size: 25px;
  color: #FB554C;
}
.contact__item-btn {
  border: none;
}
.contact__input {
  width: 50%;
  background: transparent;
  color: #323334;
  outline: none;
  font-size: 25px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 8px 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contact__input:hover {
  border: 2px solid #FB554C;
  background: #FFF;
}
.contact__input::-webkit-input-placeholder {
  font-size: 25px;
  color: #FB554C;
}
.contact__input::-moz-placeholder {
  font-size: 25px;
  color: #FB554C;
}
.contact__input:-ms-input-placeholder {
  font-size: 25px;
  color: #FB554C;
}
.contact__input::-ms-input-placeholder {
  font-size: 25px;
  color: #FB554C;
}
.contact__input::placeholder {
  font-size: 25px;
  color: #FB554C;
}

.footer {
  width: 100%;
  padding: 50px 20px;
  background-color: #000;
}
.footer__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__inner .footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__inner .footer__item-block .footer__link {
  color: #FFF;
  padding: 10px 0;
}
.footer__inner .footer__item-block .footer__title {
  color: #FFF;
  margin-top: 20px;
}
.footer__inner .footer__item-block .footer__text {
  color: #FFF;
  padding: 10px 0;
}
.footer__inner .footer__item-block .footer__img {
  padding: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #FFF;
}
.footer__inner .footer__item-block .footer__img:hover {
  background-color: #FB554C;
}

@media (max-width: 1180px) {
  .slider__wrap .swiper-slide {
    width: 45% !important;
  }
  .about-us__item {
    width: 47%;
  }
}
@media (max-width: 980px) {
  .header {
    padding: 10px 10px 10px 10px;
  }
  .header__link {
    line-height: normal;
    font-size: 12px;
  }
  .header__list {
    display: inline-block;
    padding: 0 19px;
  }
  .header__link-js::after {
    top: -1px;
    left: 55px;
  }
  .header__link-js.active::after {
    top: 14px;
    left: 56px;
  }
  .header__btn {
    margin-left: 8px;
  }
  .burger__btn {
    width: 15px;
    height: 15px;
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 10px;
    -webkit-transition: all 3s;
    transition: all 3s;
  }
  .burger__btn .burger__line-first {
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    background-color: #000;
    z-index: 100;
  }
  .burger__btn .burger__line-center {
    top: 6px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    position: absolute;
    border: 1px solid transparent;
    background-color: #000;
  }
  .burger__btn .burger__line-last {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    bottom: 0;
    width: 100%;
    position: absolute;
    border: 1px solid transparent;
    background-color: #000;
  }
  .burger__line-first.open {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 6px;
    width: 100%;
  }
  .burger__line-center.open {
    display: none;
  }
  .burger__line-last.open {
    bottom: 7px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards .card {
    width: 100%;
    max-width: none;
    padding: 10px;
  }
  .cards .card .card__image {
    margin-bottom: 0px;
  }
  .tabs {
    margin-top: 50px;
  }
  .tabs__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tabs__nav-btn {
    width: 47%;
    font-size: 20px;
  }
  .tabs__content {
    padding: 5px;
    background-color: #fff;
  }
  .tabs__item {
    display: none;
  }
  .tabs__item .tabs__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .tabs__item .tabs__card-block {
    width: 100%;
  }
  .tabs__item .tabs__card-block--img {
    width: 100%;
    max-width: none;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .tabs__item .tabs__card.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 10px;
  }
  .cards__item {
    width: 100%;
    margin-top: 0;
  }
  .card__block-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .card__block-text .card__title {
    width: 100%;
    max-width: none;
    text-align: center;
    font-size: 32px;
  }
  .card__block-text .card__text {
    width: 100%;
    max-width: none;
    text-align: center;
  }
  .section__contact {
    margin-top: 70px;
  }
  .contact__item {
    gap: 20px;
  }
  .contact__item-textarea {
    width: 100%;
    font-size: 20px;
  }
  .contact__input {
    width: 100%;
  }
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px 0;
  }
  .footer__inner .footer__item {
    gap: 10px;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 840px) {
  .intro__item--img {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .intro__item--img .intro__img {
    padding: 20px 20px;
  }
  .slider__wrap .swiper-slide {
    width: 100% !important;
  }
  .slider__wrap .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .slider__wrap .slider__item .slider__arrow--block {
    margin-top: 40px;
  }
  .slider__wrap .swiper-button-prev, .slider__wrap .swiper-button-next {
    width: 44px;
    height: 44px;
  }
  .slider__wrap .swiper {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .about-us {
    margin: 22px 0;
  }
  .about-us__inner .about-us__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h5 {
    font-size: 32px;
    letter-spacing: normal;
    line-height: 30px;
  }
}
@media (max-width: 760px) {
  .header__item-nav {
    display: none;
  }
  .header__btn {
    width: 100px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
  }
  .header__btn::before {
    left: 12px;
    top: 6px;
  }
  .burger__btn {
    display: block;
  }
  .burger__content.open {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 100;
    width: 50%;
    left: 0;
    top: 0;
    padding: 10px;
    background-color: #8DBAB5;
  }
  .burger__content--close.open {
    width: 50%;
    right: 0;
    position: absolute;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    background-color: #FFD6AD;
    opacity: 0.5;
    height: 100vh;
    z-index: 100;
    -webkit-transform: all 3s;
            transform: all 3s;
  }
  .burger__content--item {
    padding: 10px 0;
    margin: 0;
  }
  .header__btn-adaptiv {
    margin: 0;
  }
  .hero__item--img {
    height: 100%;
    padding: 10px;
  }
  .hero__item--img .hero__card {
    max-width: 260px;
    height: 390px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hero__item--img .hero__btn {
    position: static;
  }
  .hero__item--img .hero__card--link-img {
    bottom: 25px;
    right: 25px;
  }
  h3 {
    line-height: normal;
  }
  .chat__item--chat {
    padding: 5px;
  }
  .section__slider {
    padding: 45px 0;
  }
  .footer .footer__inner .footer__item .footer__item--content-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards {
    width: 100%;
  }
  .cards .card .card__box-btn__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px 30px;
  }
}
@media (max-width: 780px) {
  .slider__block-arrow {
    max-width: none;
    right: 0%;
    top: 80%;
  }
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-top: 50px;
    position: static;
    left: 0;
    width: 100%;
  }
  .intro__item {
    padding: 10px;
    text-align: center;
  }
  .intro__item-content .intro__title {
    font-size: 30px;
    max-width: none;
  }
  .intro__item-content .intro__text {
    max-width: none;
  }
  .intro__item-content .intro__btn {
    font-size: 20px;
    padding: 10px;
  }
  .swiper-wrapper {
    height: 80vh;
  }
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
  .swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
  }
  .about-us__item {
    width: 100%;
  }
}
@media (max-width: 580px) {
  h1 {
    font-size: 70px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 56px;
  }
  h3 {
    font-size: 25px;
  }
  .intro {
    margin: 34px 0 0 0;
    padding: 34px 0 16px 0;
  }
  .contact__item-title {
    font-size: 30px;
  }
  .contact__item-text {
    font-size: 18px;
    margin: 15px 0;
  }
  .contact__input {
    font-size: 18px;
  }
  .contact__input::-webkit-input-placeholder {
    font-size: 18px;
    color: #FB554C;
  }
  .contact__input::-moz-placeholder {
    font-size: 18px;
    color: #FB554C;
  }
  .contact__input:-ms-input-placeholder {
    font-size: 18px;
    color: #FB554C;
  }
  .contact__input::-ms-input-placeholder {
    font-size: 18px;
    color: #FB554C;
  }
  .contact__input::placeholder {
    font-size: 18px;
    color: #FB554C;
  }
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px 0;
  }
  .footer__inner .footer__item {
    text-align: left;
    gap: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__inner .footer__item-block {
    width: 100%;
  }
  .footer__title {
    width: 100%;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 40px;
  }
  .slider__wrap .swiper-button-next::after, .slider__wrap .swiper-button-prev::after, .slider__wrap .swiper-button-prev.swiper-button-disabled::after {
    width: 9px;
    height: 9px;
  }
  .slider__wrap .swiper-slide {
    width: 100% !important;
  }
  .slider__wrap .slider__item .slider__arrow--block .swiper-button-prev, .slider__wrap .slider__item .slider__arrow--block .swiper-button-next {
    width: 34px;
    height: 34px;
  }
  .about-us {
    width: 100%;
    margin-top: 70px;
  }
  .about-us__title {
    text-align: center;
    margin-bottom: 50px;
    color: #FB554C;
  }
  .about-us__inner {
    padding: 10px;
    gap: 10px 0px;
  }
  .about-us__inner .about-us__item {
    padding: 10px;
  }
  .about-us__inner .about-us__item__box__img {
    width: 45px;
    height: 45px;
  }
  .about-us__inner .about-us__item__box__title {
    max-width: 250px;
    font-size: 20px;
  }
  .about-us__inner .about-us__item__box__text {
    padding: 10px 0;
    font-size: 15px;
  }
  .tabs__text {
    margin: 30px 0;
  }
  .tabs__nav-btn {
    width: 100%;
  }
  .tabs__item .tabs__card-block--title {
    font-size: 18px;
  }
  .tabs__item .tabs__card-block--text {
    font-size: 16px;
    margin: 10px 0;
  }
  .tabs__item .tabs__card-block--btn {
    font-size: 20px;
    padding: 15px;
  }
  .footer__inner .footer__item {
    width: 100%;
  }
}