.footer {
   width: 100%;
   padding: 50px 20px ;

   background-color: $black;
&__inner {
   width: 100%;
   display: flex;
   justify-content: space-between;
  
.footer__item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   &-block {
      
      .logo {
      }
      .footer__link {
         color: $white;
         padding: 10px 0;
      }
      .footer__title {
         color: $white;
        
         margin-top: 20px;
      }
      .footer__text {
         color: $white;

         padding: 10px 0;
      }
      .footer__img {
         padding: 10px;
         transition: all .3s;
         background-color: $white;
         &:hover{
            background-color: $mango;            
         }
      }

   }

}

}


}
.wrap {
}


