@media (max-width:1180px) {  
   


   
   .slider__wrap {
     .swiper-slide  {
      width: 45% !important;
     }
   }



   .about-us__item{
      width: 47%;
          
    }

}
@media (max-width:1070px) { 
   
}
@media (max-width:980px) {  
   .header {
      padding: 10px 10px 10px 10px;
  }
   .header__link{
      line-height: normal;
      font-size: 12px;
   }
   .header__list {
      display: inline-block;
      padding: 0 19px;
  }
  .header__link-js::after {
   top: -1px;
   left: 55px;
}
.header__link-js.active::after { 
   top: 14px;
   left: 56px;
}
.header__btn {
   margin-left: 8px;
}
  
  .burger__btn{
   width: 15px;
   height: 15px;
  z-index: 2;
   position: absolute;
   right: 10px;
   top: 10px;
   transition: all 3s;
   .burger__line-first{
position: absolute;
top: 0;
width: 100%;
transition: all 0.3s;
border: 1px solid transparent;
background-color: $black;
z-index: 100;

   }
   .burger__line-center{
      top: 6px;
      transition: all 0.3s;

      width: 100%;
      position: absolute;
      border: 1px solid transparent;
      background-color: $black;

   }
   .burger__line-last{
      transition: all 0.3s;
      bottom: 0;
width: 100%;
position: absolute;  
border: 1px solid transparent;
background-color: $black;

}

}
.burger__line-first.open{
   transform: rotate(-45deg);
   top: 6px;
   width: 100%;
      }
      .burger__line-center.open{
       display: none;
      }
      .burger__line-last.open{
         bottom: 7px;
         transform: rotate(45deg);
   }
   



 .cards {
  
   flex-direction: column;
   .card {
      width: 100%;
      max-width: none;
      padding: 10px;
      .card__image {
         margin-bottom: 0px;
      }
   }
 
}



.tabs {
  margin-top: 50px;
   

&__nav {
   display: flex;
   flex-wrap: wrap;
   &-btn {
     
      width: 47%;
      font-size: 20px;
      
      
     

   }

  
   
}


&__content {
   padding: 5px;
   background-color: #fff;
}

&__item {
   display: none;
   .tabs__card{
      flex-direction: column;
      gap: 10px;
   &-block {
      width: 100%;
       &--title {
   }
   &--img {
      width: 100%;
      max-width: none;
     
      object-fit: cover;
   }
  
   }
  

&.active {
  flex-direction:column-reverse;
   gap: 10px;
}
}

}
}

.cards__item {
   width: 100%;
   margin-top: 0;
   }
   .card__block-text{
      flex-direction: column;
      gap: 10px;
      .card__title {
         width: 100%;
         max-width: none;
         text-align: center;
         font-size: 32px;
      }
      .card__text {
         width: 100%;
         max-width: none;
         text-align: center;
      }

   }
   .section__contact{
      margin-top: 70px;
   }

   .contact__item{
      gap: 20px;
     
        
         &-textarea {
            width: 100%;
            font-size: 20px;
        
      
         }
        
      
      }
      .contact__input {
         width: 100%;
      }

      .footer {
  

  
&__inner {
   flex-wrap: wrap;   
  gap: 30px 0;
.footer__item {
   gap: 10px;
   width: 50%;
   flex-direction: column;
   align-items: center; 
}

}


}

}

@media (max-width:840px){
  
.intro__item--img {

flex-wrap: wrap;
.intro__img{
padding: 20px 20px;
}
}

.slider__wrap{
   .swiper-slide {
    
 
 width: 100% !important ;

}
 .slider__item {
    flex-direction: column;
    align-items: flex-start;
    .slider__arrow--block{
       margin-top: 40px;
    } 
 }
 .swiper-button-prev, .swiper-button-next {
    width: 44px;
    height: 44px;
 }
 .swiper{
    transform: translate(0);
   
} 

}
.about-us {
   margin: 22px 0;
}
.about-us__inner {
   .about-us__item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
     flex-direction: column;
      
}
}
h5{
   font-size: 32px;
   letter-spacing: normal;
   line-height: 30px;
}


}
@media (max-width:760px){
   .header__item-nav{
      display: none;
     }
     .header__btn {
      width: 100px;
      padding: 5px 10px;
      font-weight: 600;
      font-size: 12px;
      line-height: normal;
      &::before{
         left: 12px;
    top: 6px;
      }
  }
  .burger__btn {
   display: block;
}
  
  .burger__content.open{
   transition: all 0.3s;
   display: flex;
   overflow: hidden;
   height: 100vh;
   width: 100%;
   position: fixed;
   flex-direction: column;
   z-index: 100;
   width: 50%;
   left: 0;
   top: 0;
   padding: 10px;
   background-color: $opal;

}
.burger__content--close.open{
 
   width: 50%;
   right: 0;
   position: absolute;  overflow: hidden;
   height: 100vh;
   position: fixed;
   background-color: $sunny;
   opacity: 0.5;
   height: 100vh;
   z-index: 100;
transform: all 3s;
}

.burger__content--item{
   padding: 10px 0;
   margin: 0;
}
.header__btn-adaptiv{
   margin: 0;
}
   .hero__item--img {
      height: 100%;
      padding: 10px;
    .hero__card{
      max-width: 260px;
      height: 390px;
      justify-content: space-around;
    }
    .hero__btn {
      position: static;
    }
    .hero__card--link-img {
      bottom: 25px;
      right: 25px;
  }
 
    
   }
   h3{
      line-height: normal;
   }
   .chat__item--chat {
      
    padding: 5px; 
  }
  .section__slider{
   padding: 45px 0;
  }
  .footer{
 
  .footer__inner{
      
      .footer__item{

      .footer__item--content {   
   &-list{
      flex-direction: column;
   }
      }
      } 
   } 
}
  
.cards {
  
   width: 100%;
 

  
    .card {
   
    
   
    .card__box-btn {
     
     &__item{
      
      flex-direction: column;
      gap: 30px 30px;
      
      &--price{
        
    
   
     }
   
     }
   }


}
}
}

@media (max-width:780px) { 
   
   
   .slider__block-arrow {
     max-width: none;
      right: 0%;
      top: 80%;
      
 
  }
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  margin-top: 50px;
   position: static;
   left: 0;
   width: 100%;
  }

  .intro__item {
   
padding: 10px;

text-align: center;

&-content{
   
   .intro__title {
     font-size: 30px;
     max-width: none;
}
.intro__text {
   max-width: none;

}
.intro__btn {
  font-size: 20px;
  padding: 10px;
  
}


}
 
}


.swiper-wrapper {
   height: 80vh;
}
.swiper-pagination-bullet{
   width: 15px;
   height: 15px;
   
}
 .swiper-pagination-bullet-active{
   width: 20px;
   height: 20px;
   
 }
 .slider__block-arrow, .swiper-button-next{
   // width: 10px;
   // height: 50px;
 }

 .about-us__item{
   width: 100%;
       
 }
}


@media (max-width:580px){
   
  h1{
   font-size: 70px;
   margin-bottom: 20px;
  } 
  h2{
 
   font-size: 56px;
}
h3{
   font-size: 25px;
}
  .intro {
 
   margin: 34px 0 0 0;
   padding: 34px 0 16px 0;
}

.contact__item-title{
   font-size: 30px;
} 
.contact__item-text{
   font-size: 18px;
   margin: 15px 0;
} 

.contact__input {

font-size: 18px;

&::placeholder{
   font-size: 18px;
   color: $crayola 
  }
}
.footer {
  

  
   &__inner {
      flex-wrap: wrap;   
     gap: 10px 0;
   .footer__item {
     
      text-align: left;
      gap: 5px;
    
      flex-direction: column;
      align-items: center; 
      &-block {
         width: 100%;
         
      }
   }
   
   }
   
   
   }
   

   .footer__title {
      width: 100%;
      }
}


@media (max-width:480px){
   h1{
    font-size: 40px;
   } 
 


.slider__wrap{
.swiper-button-next::after,.swiper-button-prev::after,.swiper-button-prev.swiper-button-disabled::after {
   width: 9px;
   height: 9px;
}
   .swiper-slide {
    
 
 width: 100% !important ;

}
 .slider__item {
    
    .slider__arrow--block{
      .swiper-button-prev,.swiper-button-next {
         width: 34px;
         height: 34px;
     }
    } 
   }
}

.about-us {
   width: 100%;
  margin-top: 70px;
  &__title{
max-width: none;
   margin: 20px 0;
    font-size: 25px;
  }
   &__inner {
     padding: 10px;
      gap: 10px 0px;
     .about-us__item {
      padding: 10px;
       
        &__box{
         
  
           &__img{
              width: 45px;
              height:45px;
           } &__title{
            
             max-width: 250px;
             font-size: 20px;
            
           }
           &__text{
              padding: 10px 0 ;
            font-size: 15px;
            }
        }
        
  }
  
     }
  
  }
  .about-us__content-block{
   flex-direction: column-reverse;
  }

   .tabs {
   
   &__text {
      margin: 30px 0;
   }
   
   &__nav {
     
   
      &-btn {
         width: 100%;
        
   
      }
   
     
      
   }
   
   
   
   &__item {
      .tabs__card{
   
      &-block {
          &--title {
            font-size: 18px;
      }
      &--text {
         font-size: 16px;
         margin: 10px 0;
      }
      &--btn{
        font-size: 20px;
        padding: 15px ;
      }
      }
     
   
  
   }
   
   
   }
   }

   

   .footer {
  

  
      &__inner {
        
      .footer__item {
        width: 100%;
         
         
      }
      
      }
      
      
      }
      
   
 }
 

 